@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Red+Hat+Text:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 /*  outline: 1px solid red; */
}


:root {
 
--White: hsl(0, 0%, 100%);
--whiteGrey: #e8e5f9;  
--GrayishBlue: hsl(237, 18%, 59%);
--SoftRed: #fb6087;
--DarkSaturatedBlue: hsl(236, 21%, 26%);
--DarkSaturatedBluedonw:#3C4059;
--DarkSaturatedBlueup:#342840;
--VeryDarkBlue: hsl(235, 16%, 14%);
--VeryDarkMostlyBlackBlue: hsl(234, 17%, 12%);

}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Red Hat Text', sans-serif;
    background-color: var(--VeryDarkMostlyBlackBlue) ;
    background-image: url('assets/bg-stars.svg');
    background-size: cover;
    background-repeat: no-repeat;

}

.putDate {
  margin:1rem ;
  padding: 2px 20px;
  border: #e8e5f9 2px solid;
  background-color: #3C4059;
  color: #e8e5f9;
}

.selectTime {
  font-size: 18px;
  margin-top: 5em;
  color: #b8b6c8;
  font-weight: 600;
}


.clock {
    /* background: linear-gradient(0deg, var(--DarkSaturatedBluedonw) 0%,  var(--DarkSaturatedBluedonw), 46%, var(--DarkSaturatedBlueup) 47%, var(--DarkSaturatedBlueup) 100%); */
    background-color: rgb(6, 1, 13);
    border: 5px solid var(--DarkSaturatedBlueup);
    border-radius: 5px;
    margin: 1em;
    
}


.ClockInfo {
    display: block;
    width: 350px;
    padding: 20px 70px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 3em;
    text-align: center;
    color: var(--SoftRed);
    background: linear-gradient(0deg, rgba(242,92,147,1) 0%, rgba(242,92,147,1) 46%, rgba(242,94,134,1) 47%, rgba(242,94,134,1) 100%);
    border-radius: 5px;
    box-shadow: 0px 6px 0px 1px rgba(19,18,26,1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}

.timer {
  margin: 2rem ;
  color: var(--SoftRed);
  gap:30px;
  font-size: 3.5em;
  font-weight: 700;
  text-align: center;
}

.timerNumber {
  width: 2.4em;
  height: 2.1em;
  padding: 20px 30px;
  background-color:var(--DarkSaturatedBlueup);
  box-shadow: 0px 6px 0px 1px rgba(19,18,26,1);

}
.timerNumber strong {
  color: var(--GrayishBlue);
  font-size: 1.2rem ;
}


.chronometer {
  background-color: var(--VeryDarkMostlyBlackBlue);
  border-radius: 50% ;
  border: 4px solid #fb6087;
  
}

.chronometer__numbers {
  width: 250px;
  padding: 100px 40px;
  font-family: 'Orbitron', sans-serif;
  font-size: 32px;
  color: var(--whiteGrey);
  font-weight: 500;
  
}


.container1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(251,96,135,0.0802696078431373) 0%, rgba(0,212,255,0) 100%);

}


.sidebar {
    width: 100%;
    height: 100vh;
    max-height: 100%;
    min-width: 200px;
    background-color: hsla(236, 21%, 26%, 0.605) ;
    box-shadow: 6px 2px 0px -2px rgba(0, 0, 0, 0.147)
  }

  .title {
    margin-top: 1em;
    font-size: 2rem;
    color: var(--White);
    font-weight: 400;

  }
  .title2 {
    margin: 2em 0;
    font-size: 1.8rem;
    color: var(--White);
    font-weight: 400;

  }
  .title2--weather {
    margin: 1.7em 0;
    font-size: 1.8rem;
    color: var(--White);
    font-weight: 400;

  }

  .title__coming {
    font-family: 'Press Start 2P', cursive;
    color: var(--SoftRed);
    font-size: 1.7rem;
    
  }

  .title__coming--look {
    max-width: 450px;
    margin-bottom: 2rem;
    font-family: 'Press Start 2P', cursive;
    color: var(--GrayishBlue);
    font-size: 1.1rem;
    text-align: center;
    
  }

  .subtitle {
    color: var(--GrayishBlue);
    font-size: 1rem;

  }

  .nav_links {
    display: block;
    padding: 10px;
    margin-bottom: 0.5em;
    text-decoration: none;
    font-weight: 700;
    color: var(--SoftRed);
  }

  .activeLink {
    background-color: var(--VeryDarkMostlyBlackBlue) ;
    border-radius: 5px;
    color: var(--White);
  }

  .nav_links:hover {
    color: var(--White);
  }


  .wave {
     position: absolute;
     background-color: var(--DarkSaturatedBlueup);
     width: 100%;
     bottom: 0;
     z-index: -1;
  }

  .wave::before { 
    content: "";
    width: 100%;
    height:100px;
    position: absolute;
    top: -100px;
    background-image: url('assets/pattern-hills.svg');
    background-repeat: no-repeat;
    background-size: 100% 100px;
  }

  .buttons {
    margin: 2em 0;
  }


  .img_cli {
    height: 100%;
    object-fit: cover;
  }

  .sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: var(--whiteGrey);
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }















  @media (min-width: 826px){
  
    .sidebar {
      max-width: 300px;
      
    }
  
  }

  
  
  @media (max-width: 825px){
    
    .sidebar {
      min-width: 500px;
      text-align: center;
      height: 45vh; 
      
    }

  } 
  
  @media (max-width: 650px){

    .sidebar {
      width: 100%;
      text-align: center;
      height: 45vh; 
      
    }

    .container1 {
      min-width: 375px;
      width: 100%;
      
    }
    
    .timer {
      flex-direction: column;
      gap: 1.5em;
    }

  } 

  .card__weather{
    max-width: 540px
  }

  .weather__select select {
    width: 100%;
  }